.motherDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  80px 0;
}
.container{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.firstDiv{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 40%;
    gap: 30px;
    padding:  20px 8px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.5);
    .firstDiv_1{
        display: flex;
        flex-direction: column;
        width: 100%;
        p{
            margin: 15px;
        }
        .firstDiv_1_1{
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            .p1{
                font-size: 2rem;
                font-weight: bold;
            }
            .p2{
                font-size: 1.5rem;
            }
        }
    }
    .line{
        height: 2px;
        width: 90%;
        background-color: black;
    }
}
.secondDiv{
    display: flex;
    width: 60%;
    padding: 30px 20px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.5);
    border-radius: 8px;
    .secondDiv_1{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        input{
            width: 200px;
            padding:  27px 10px;
            border-radius: 8px;
            border: 1px solid #b8b0b0;
            background-color: #f8f7f7;
            font-size: 1.2rem;

        }

    }
    input{
        padding: 20px 0 200px 20px;
        width: 95%;
        border-radius: 8px;
        border: 1px solid #b8b0b0;
        background-color: #f8f7f7;
        text-align: left;
        font-size: 1.5rem;
    }
    .customButton{
        border: none;
        border-radius: 8px;
        background-color: red;
        box-shadow: 0 8px 12px rgba(0,0,0,0.5);
        color: white;
        font-size: 1rem;
        font-weight: bold;
        padding: 15px 25px;
        align-self: flex-end;
    }
    .customButton:hover{
        padding:18px 28px ;
    }
    .customButton:active{
        background-color: #ef9b9b;
    }

}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    .firstDiv, .secondDiv{
        width: 95%;
    }
    .secondDiv{
        width: 90%;
        .secondDiv_1{
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
            input{
                padding: 10px 5px;
                font-size: .6rem;
                width: 96%;
            }
        }
    }
}
@media only screen and (max-width: 1300px) and (min-width: 601px) {
    .container{
        width: 100%;
    }
    .secondDiv{
        .secondDiv_1{
            gap: 10px;
            input{
                width: 150px;
                padding: 20px 10px;
                font-size: .8rem;
            }
        }
    }
}
/*@media only screen and(min-width: 801px) and(max-width: 1) {*/
/*    */
/*}*/