.home{
    padding: 30px;
}
.div{
    height: 1px;
    width: 100%;
    background-color: #8f8b8b;
    margin-top: 40px;
}

@media only screen and (max-width: 900px){
    .home{
        padding: 0;
    }
}
