.container{
    display: flex;
    border-bottom: 2px solid;
    border-bottom-color: #b3b3b3;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.overBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}
.imgDiv{
    position: relative;
    cursor: pointer;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: red;
    width:16px;
    height: 16px;
    border-radius: 6px;
    top: -5px;
    right: -5px;
}
.searchBar{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
}
.search{
    height: 40px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: none;
}
.searchLogo{
    position: absolute;
    right: 10px;
}
.searchDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.menu{
    display: none;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hr{
    border: none;
    height: 20px;
    background-color: #000;
}
.mobileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.mobileMenu{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 10px;
    margin-top: 20px;
    width: 40%;
    padding: 20px;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    .link{
        padding-bottom: 10px;
        border-bottom:1px solid #8f8b8b ;
    }
}
.mobileMenu a {
    margin: 10px 0;
}
@media only screen and (max-width: 880px) {
    .header{
        display: none;
    }
    .container{
        margin-bottom: 10px;
    }
    .menu{
        display: flex;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .menuImg{
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .header{
        h1{
            font-size: 1rem;
        }
    }

}