.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 140px;
}
.category{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
}