@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navBar{
        @apply text-navBar-text font-bold font-serif text-2xl
    }


}

@layer utilities {
    @keyframes fadeInScale {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-fadeInScale {
        animation: fadeInScale 10s infinite ease-in;
    }
}