.motherContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}
.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
}
.p1, .p2{
    margin: 6px;
}
.p1{
    font-weight: bolder;
    font-size: 5rem;
}
.p2{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.button{
    background-color: red;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
    padding: 25px 28px;
    border-radius: 8px;
}
.button:hover{
    padding: 28px 32px;
}
.button:active{
    background-color: #e48b8b;
}
@media only screen and (max-width: 800px) {
    .container{
        width: 98%;
        gap: 15px;
    }
    .p1{
        font-size: 2rem;
    }
    .p2{
        font-size: 1rem;
        text-align: center;
    }
}